@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  min-width: 100vw;
  min-height: 100vh;
}
.m-all {
  margin: 20px 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 20px;
  background-color: #146ef5;
}
.nav-logo {
  width: 220px;
  height: 40px;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 2px 2px;
}
.nav-item-list {
  display: flex;
  gap: 50px;
}

.nav-item-list li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
.nav-item-list li a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.nav-item-list li a:hover {
  color: rgb(195, 205, 243);
  transition: 0.2s ease-in-out;
}

.login-sec {
  display: flex;
  gap: 20px;
}
.login-sec a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
}
.login-sec a i {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}
#nav-login {
  color: white;
  transition: 0.2s ease-in-out;
}
#nav-login:hover {
  color: rgb(195, 205, 243);
  transition: 0.2s ease-in-out;
}
.start-free {
  background-color: ghostwhite;
  padding: 5px 10px;
  border-radius: 10px;
  color: #146ef5;
  transition: 0.2s ease-in-out;
}
.start-free:hover {
  color: white;
  border-radius: none;
  background-color: #146ef5;
  transition: 0.2s ease-in-out;
}
.nav-hidden {
  position: fixed;
  background-color: #146ef5;
  inset: 0;
}
.hidden {
  display: none;
}
.bar-icon {
  display: none;
  color: white;
  font-size: 22px;
  transition: 0.1s ease-in-out;
}
.unordered-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.unordered-list li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
.unordered-list li a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.unordered-list li a:hover {
  color: rgb(195, 205, 243);
  transition: 0.2s ease-in-out;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 0px;
  padding-left: 10px;
  padding-right: 25px;
  background-color: #357dea;
}
.container {
  display: flex;
  background-color: #fbfdff;
}
.left-section {
  width: 50vw;
}
.left-section h2 {
  color: #146ef5;
}
.left-section #p1 {
  color: #4a4a4a;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1.7;
}
.left-section #p2 {
  color: #858282;
  margin-top: 20px;
}
.right-section {
  width: 50vw;
}
.right-section h2 {
  color: #363636;
}
form {
  margin-top: 15px;
}
.right-section label {
  color: #363636;
  font-weight: 600;
}
#username {
  margin-top: 15px;
  width: 350px;
  height: 50px;
  padding: 0px 5px;
  border-radius: 10px;
  border: 2px solid #146ef5;
}
#username:active {
  border: none;
}
#validate-btn {
  margin-top: 15px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #146ef5;
  color: white;
  transition: 0.2s ease-in-out;
}
#validate-btn:active {
  background-color: white;
  color: #146ef5;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
#right-sec-p {
  color: #146ef5;
  font-size: 12px;
  font-weight: 600;
  margin-top: 15px;
}
#loading-icon {
  width: 40px;
}
#symbol {
  font-size: 20px;
}
.result-sec {
  height: fit-content;
}
.results {
  width: 50vw;
}

.result-sec h3 {
  color: #153667;
  margin-bottom: 30px;
}
#down-arrow {
  font-size: 20px;
}

@media (max-width: 900px) {
  .nav-item-list {
    gap: 30px;
  }
  .nav-item-list li a {
    font-size: 15px;
  }
  .nav-logo {
    width: 150px;
  }
  .login-sec {
    gap: 15px;
  }
  .login-sec a {
    font-size: 15px;
  }
  .login-sec a i {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .container {
    display: block;
  }
  .left-section {
    width: fit-content;
    margin: 30px;
    padding-right: 10px;
  }
  .right-section {
    width: fit-content;
    margin: 30px;
  }

  .nav-item-list {
    display: none;
  }
  .login-sec {
    display: none;
  }
  .bar-icon {
    display: block;
  }
}
@media (max-width: 500px) {
  .left-section h2 {
    font-size: 20px;
  }
  .left-section #p1 {
    font-size: 16px;
    line-height: 1.9;
  }
  .left-section #p2 {
    color: #858282;
    font-size: 14px;
  }
  .right-section h2 {
    font-size: 20px;
  }
  #username {
    width: 300px;
    height: 45px;
  }
  .results {
    width: 80vw;
  }
  .navbar {
    width: 100vw;
  }
  #validate-btn {
    width: 90px;
    height: 35px;
    font-size: 14px;
  }
  .nav-logo {
    width: 130px;
    height: 36px;
    margin-top: 5px;
  }
}
